@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono:wght@500&display=swap');
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    background-color: #142035;
    font-size: 20px;
    outline: none;
    border-radius: 6px;
    font-family: 'Oswald', sans-serif;
    color: rgb(224, 223, 223);

    margin-block-start: 3px;

    /*background-image: url("/src/assets/sisplag.png");
    background-repeat: no-repeat;*/
    /*background-size: auto;*/
}

h1, h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
}

h2 {
    font-size: 25px;
}

hr {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

h3 {
    text-align: center;
    font-size: 25px;
    color: rgb(128, 123, 123);
    text-transform: uppercase;
}

p {
    font-weight: bold;
}

.schoolForm .formPersonalData, .formTechnicalData, .formBranchData {
    margin-left: 18%;
    margin-right: 18%;
    text-align: left;
}

.schoolForm .formPersonalData .formPersonalDataInput .allInput {
    border: 1px solid black;
    background-color: #192335;
    padding: 7px;
    width: 49.5%;
}

.schoolForm .formPersonalData .formPersonalDataInput .allInput:hover {
    background-color: #263552;
}

.schoolForm .formPersonalData .formPersonalDataInput .selectInitials {
    font-size: 16px;
    width: 12%;
    display: none;
    cursor: pointer;
    /*transition: 0.2s ease-in;*/
}

.schoolForm .formPersonalData .formPersonalDataInput .selectDistrict {
    font-size: 16px;
    width: 12%;
    cursor: pointer;
}

/*Dados técnicos*/

.schoolForm .formTechnicalData .formTechnicalDataInput .allInput {
    border: 1px solid black;
    background-color: #192335;
    padding: 7px;
    width: 49.5%;
}

/* Dados das filiais */

.schoolForm .formBranchData .allInput {
    border: 1px solid black;
    background-color: #192335;
    padding: 7px;
    width: 49.5%;
}

.schoolForm .formBranchData .allInput:hover {
    background-color: #263552;
}

.schoolForm .formBranchData .formBranchDataInput .allBranches .selectInitialsBranch {
    font-size: 16px;
    width: 14%;
    cursor: pointer;
}


.schoolForm .formBranchData .formBranchDataInput .allBranches .selectInitialsBranchTwo {
    font-size: 16px;
    width: 14%;
    cursor: pointer;
}

.schoolForm .formBranchData .formBranchDataInput .allBranches .selectInitialsBranchThree {
    font-size: 16px;
    width: 14%;
    cursor: pointer;
}

.schoolForm .formBranchData .formBranchDataInput .allBranches .selectInitialsBranchFour {
    font-size: 16px;
    width: 14%;
    cursor: pointer;
}

.schoolForm .formBranchData .addBranch, .sendData {
    background-color: black;
    border: 0.5px ridge black;
    width: 8%;
    padding: 1px;
    cursor: pointer;
}

.schoolForm .formBranchData .addBranch:hover, .sendData:hover {
    background-color: #444
}